.footer {
    width: 100%;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: var(--bg-content-color);
    border-top: 1px solid var(--btn-border-color);

    z-index: 1;

    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 24px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        row-gap: var(--gap);

        &-title {
            font-family: var(--font-romular);
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        &:last-child {
            @include for-small {
                order: -1;
            }
        }
    }

    &-menu {
        &__list {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
        }

        &__link {
            display: flex;
            align-items: center;
            column-gap: 24px;
            transition: 0.3s;

            &:hover {
                color: var(--accent-color);
                text-decoration: underline;
            }

            & span {
                padding: 3px 4px;
                font-size: 10px;
                line-height: 1;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: var(--bg-content-color);
                background-color: var(--accent-color);
                border-radius: 4px;
            }
        }
    }
    &-socials {
        margin-top: 30px;
        display: flex;
        align-items: center;
        column-gap: 8px;

        &__link {
            & .icon {
                transition: 0.3s;

                &:hover {
                    fill: var(--accent-color);
                    stroke: var(--accent-color);
                }
            }
        }
    }

    &__link-mail {
        width: max-content;
        margin-bottom: 25px;
        display: flex;
        padding: 5px 12px;
        border: 1px solid var(--btn-border-color);
        border-radius: 20px;
        transition: 0.3s;

        &:hover {
            color: var(--accent-color);
            border: 1px solid var(--accent-color);
        }
    }

    &-links {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        color: var(--text-search-color);
    }

    &-popular {
        &__list {
            display: flex;
            flex-direction: column;
            row-gap: 32px;
        }
    }

    &-bottom {
        flex: 1 1 100%;
        flex-direction: column;

        &__link {
            transition: 0.3s;

            &:hover {
                text-decoration: underline;
                color: var(--accent-color);
            }
        }

        .copyright {
            width: 100%;
            text-align: center;
        }
    }
}

.popular-mini {
    max-width: 380px;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 16px;

    &__logo {
        position: absolute;
        top: -5px;
        left: -5px;
        width: 32px;
        height: 32px;
        background-color: var(--bg-content-color);
        border-radius: 50%;
        z-index: 2;
    }

    &__img {
        flex: 0 0 66px;
        width: 66px;
        height: 40px;
        border-radius: 5px;
        overflow: hidden;
    }

    &__text {
        transition: 0.3s;
    }

    &:hover &__text {
        text-decoration: underline;
        color: var(--accent-color);
    }
}
