.read-more {
    &-state {
        display: none;
    }

    &-target {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: 0.35s ease;
    }

    &-trigger {
        position: relative;
        cursor: pointer;
        display: inline-block;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-50%);
            font-size: 18px;
            color: var(--accent-color);
            letter-spacing: normal;
            text-transform: none;
        }
    }
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: "Развернуть";
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: "Свернуть";
}
