<div class="breadcrumps">
    <div class="container">
        <ol class="breadcrumps__list list-reset" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumps__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumps__link" itemprop="item" href="index.html"><span itemprop="name">Москва</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumps__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumps__link" itemprop="item" href="index.html"><span itemprop="name">Высшее
                        образование</span></a>
                <meta itemprop="position" content="2" />
            </li>
            <li class="breadcrumps__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumps__link" itemprop="item" href="index.html"><span itemprop="name">Вузы</span></a>
                <meta itemprop="position" content="3" />
            </li>
            <li class="breadcrumps__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">МГТУ им. Н.Э. Баумана</span>
                <meta itemprop="position" content="4" />
            </li>
        </ol>
        <a href="#" class="breadcrumps__prev">
            Назад
        </a>
    </div>
</div>
