<nav id="cart-nav" class="cart-nav" title="Навигация по информации об образовательном учреждении">
    <ul class="cart-nav__list list-reset">
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Основная информация <span>100</span></a>
        </li>
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Специальности <span>100</span></a>
        </li>
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Об университете <span>100</span></a>
        </li>
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Контакты <span>100</span></a>
        </li>
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Отзывы <span>100</span></a>
        </li>
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Преподаватели <span>100</span></a>
        </li>
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Профессии <span>100</span></a>
        </li>
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Новости <span>100</span></a>
        </li>
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Задать вопрос <span>100</span></a>
        </li>
        <li class="cart-nav__item">
            <a href="#" class="cart-nav__link">Часто задаваемые вопросы <span>100</span></a>
        </li>
    </ul>
    <div id="nav-eject" class="cart-nav__eject">
        <svg class="icon next">
            <use xlink:href="#icon--scrollup"></use>
        </svg>
    </div>
</nav>
