<footer class="footer">
    <div class="container footer-container">

        <div class="footer__block">
            <div class="footer__block-title">студентам</div>
            <nav class="footer-menu" aria-label="Меню студентам" title="Меню студентам">
                <ul class="footer-menu__list list-reset">
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Вузы</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Колледжи</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Техникумы</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Училища</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Специальности</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Профессии</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Отзывы</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Тест на профориентацию</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__block">
            <div class="footer__block-title">учебным заведениям</div>
            <nav class="footer-menu" aria-label="Меню учебным заведениям" title="Учебным заведениям">
                <ul class="footer-menu__list list-reset">
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Партнёрская программа</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Личный кабинет</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Размещение рекламы</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Добавить учебное заведение</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Инструкция по личному кабинету</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Правила работы с отзывами</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__block">
            <div class="footer__block-title">популярные вузы</div>
            <ul class="footer-popular__list list-reset">
                <li class="footer-popular__item ">
                    <a href="#" class="popular-mini">
                        <div class="popular-mini__logo">
                            <picture>
                                <source srcset="./img/logotips/logo-kep.avif" type="image/avif">
                                <source srcset="./img/logotips/logo-kep.webp" type="image/webp">
                                <img loading="lazy" src="./img/logotips/logo-kep.png" class="image" alt="">
                            </picture>
                        </div>
                        <div class="popular-mini__img">
                            <picture>
                                <source srcset="./img/popular/01.avif" type="image/avif">
                                <source srcset="./img/popular/01.webp" type="image/webp">
                                <img loading="lazy" src="./img/popular/01.jpg" class="image" alt="">
                            </picture>
                        </div>
                        <div class="popular-mini__text">
                            МГУ — Московский государственный университет имени М.В. Ломоносова
                        </div>
                    </a>
                </li>
                <li class="footer-popular__item ">
                    <a href="#" class="popular-mini">
                        <div class="popular-mini__logo">
                            <picture>
                                <source srcset="./img/logotips/logo-gten.avif" type="image/avif">
                                <source srcset="./img/logotips/logo-gten.webp" type="image/webp">
                                <img loading="lazy" src="./img/logotips/logo-gten.png" class="image" alt="">
                            </picture>
                        </div>
                        <div class="popular-mini__img">
                            <picture>
                                <source srcset="./img/popular/02.avif" type="image/avif">
                                <source srcset="./img/popular/02.webp" type="image/webp">
                                <img loading="lazy" src="./img/popular/02.jpg" class="image" alt="">
                            </picture>
                        </div>
                        <div class="popular-mini__text">
                            Московский государственный технический университет имени Н.Э. Баумана
                        </div>
                    </a>
                </li>
                <li class="footer-popular__item ">
                    <a href="#" class="popular-mini">
                        <div class="popular-mini__logo">
                            <picture>
                                <source srcset="./img/logotips/logo-em.avif" type="image/avif">
                                <source srcset="./img/logotips/logo-em.webp" type="image/webp">
                                <img loading="lazy" src="./img/logotips/logo-em.png" class="image" alt="">
                            </picture>
                        </div>
                        <div class="popular-mini__img">
                            <picture>
                                <source srcset="./img/popular/03.avif" type="image/avif">
                                <source srcset="./img/popular/03.webp" type="image/webp">
                                <img loading="lazy" src="./img/popular/03.jpg" class="image" alt="">
                            </picture>
                        </div>
                        <div class="popular-mini__text">
                            Институт бизнеса и дизайна
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__block">
            <a href="/" class="header-top__logo" itemscope="" itemtype="http://schema.org/ImageObject" itemprop="logo">
                <img src="./img/logo.svg" class="header-top__logo-img" alt="Логотип" loading="lazy">
            </a>
            <nav class="footer-menu nav-help" aria-label="Меню-помощь" title="Меню-помощь">
                <ul class="footer-menu__list list-reset">
                    <li class="nav-help__item">
                        <a href="#" class="footer-menu__link">Помощник <span>New</span></a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">О нас</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Обратная связь</a>
                    </li>
                </ul>
            </nav>
            <div class="footer-socials">
                <a href="" class="footer-socials__link" rel='nofollow'>
                    <svg class="icon icon--fb">
                        <use xlink:href="#icon--fb"></use>
                    </svg>
                </a>
                <a href="" class="footer-socials__link" rel='nofollow'>
                    <svg class="icon icon--vk">
                        <use xlink:href="#icon--vk"></use>
                    </svg>
                </a>
            </div>
            <a href="mailto:studik@mail.ru" class="footer__link-mail">studik@mail.ru</a>

        </div>

    </div>
    <div class="container">
        <div class="footer-bottom">
            <div class="footer-links">
                <a href="#" class="footer-bottom__link">Пользовательское соглашение</a>
                <a href="#" class="footer-bottom__link">Обработка персональных данных</a>
            </div>
            <div class="copyright">
                &copy; Все права защищены
            </div>
        </div>
    </div>
</footer>
<!--=============== SCROLL UP ===============-->
<a href="#" class="scrollup" id="scroll-up">
    <svg class="icon icon--scrollup">
        <use xlink:href="#icon--scrollup"></use>
    </svg>
</a>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
