<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>@title</title>
	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-navbutton-color" content="#ffffff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
	<link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="stylesheet" href="css/vendor.css">
	<link rel="stylesheet" href="css/main.css">
	<meta name="keywords" lang="ru" content="слова, слова" />
	<meta name="description" lang="ru"
		content="Московский государственный технический университет имени Н.Э. Бáумана. Полная информация в справочнике studika.ru. Перечень специальностей, всё о поступлении и обучении, адрес, контакты и время работы приёмной комиссии." />
	<meta name="Author" content="">
	<meta name="Copyright" content="">
	<meta name="robots" content="index, follow">
	<!-- локализация сайта, для русскоязычного сайта ru_RU -->
	<meta property="og:locale" content="ru_RU">
	<!-- тип контента, по умолчанию используется article -->
	<meta property="og:type" content="article">
	<!-- заголовок страницы, который будет выводится в записи социальной сети -->
	<meta property="og:title" content="Карточка учебного заведения">
	<!-- описание страницы -->
	<meta property="og:description" content="Московский государственный технический университет имени Н.Э. Бáумана">
	<!-- ссылка на изображение, которое будет публиковаться в записи -->
	<meta property="og:image" content="">
	<!-- ссылка на текущую страницу -->
	<meta property="og:url" content="">
	<!-- название сайта -->
	<meta property="og:site_name" content="Студика">
	<script defer src="js/main.js"></script>
</head>
