.icon {
    width: 32px;
    height: 32px;

    &-city {
        width: 32px;
        height: 32px;
    }
    &-search {
        width: 32px;
        height: 32px;
    }
    &-star {
        width: 18px;
        height: 18px;
    }
}
